@import "~bootstrap/scss/bootstrap"

@import './_variables'
@import './_mixins'

//@import "~bootstrap/scss/bootstrap"
//@import "~bootstrap/dist/css/bootstrap.min.css"
@import "~bootstrap-icons/font/bootstrap-icons.css"

@font-face
  font-family: forArticle
  src: url("Poppins-Regular.ttf")

@font-face
  font-family: forCode
  src: url("Roboto-Regular.ttf")

*
  box-sizing: border-box
  outline: none
  font-family: forArticle

html,
body
  height: 100%
  wdth: 100%
  padding: 0
  margin: 0
  overflow-x: hidden

body
  position: relative
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $main-text-color
  background-color: $main-background-color
  font-size: $main-text-size
  user-select: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

.root
  position: relative

.col,
.row,
.layout
  padding: 0px
  margin: 0px

// header,
// footer,
// section
//   padding: 0px
//   margin: 0px
//   position: relative
//   //width: 100%
//   //min-width: 100%
//   display: flex
//   justify-content: center
//   align-items: center
//   flex-direction: column

.headerTop
  position: fixed
  width: 100%
  z-index: 9999
  top: 0
  background-color: black
  color: white
  font-size: 8px
  text-decoration: none

.nav-link.active
  color: $airox-green !important

.headerNav
  padding-top: 20px

    //   position: relative
//   //top: 35px
//   padding-top: 20px
//   z-index: 100
//   background-color: white
//   width: 100%
//   height: 100px
//   align-self: center
//   align-content: center

// $phone-size: 600px
// $tablet-size: 992px
// $desktop-size: 1200px

.ai-rox-green
  color: $airox-green

.ai-rox-idh
  color: $airox-green
  //background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='currentColor' viewBox='0 0 16 16' id='svg1021' sodipodi:docname='idh-fill.svg' inkscape:version='1.1 (c68e22c387, 2021-05-23)' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1025' /%3E%3Csodipodi:namedview id='namedview1023' pagecolor='%23ffffff' bordercolor='%23999999' borderopacity='1' inkscape:pageshadow='0' inkscape:pageopacity='0' inkscape:pagecheckerboard='0' showgrid='false' inkscape:zoom='64' inkscape:cx='9.9765625' inkscape:cy='8.9453125' inkscape:window-width='3840' inkscape:window-height='2097' inkscape:window-x='1912' inkscape:window-y='-8' inkscape:window-maximized='1' inkscape:current-layer='svg1021' /%3E%3Cpath fill-rule='evenodd' d='m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z' id='path1017' style='fill:%2388aa00;fill-opacity:1' /%3E%3Cpath fill-rule='evenodd' d='M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z' id='path1019' style='fill:%2388aa00;fill-opacity:1' /%3E%3Cpath d='M 7.1630367,9.0269121 A 0.26922435,0.26922435 0 0 0 6.8938131,9.296137 v 1.615346 a 0.26922435,0.26922435 0 0 0 0.2692236,0.269223 H 8.7783831 A 0.26922435,0.26922435 0 0 0 9.0476078,10.911483 V 9.296137 A 0.26922435,0.26922435 0 0 0 8.7783831,9.0269121 Z' id='path940' style='fill:%23ffffff;stroke-width:0.538448' /%3E%3Cpath d='m 6.6245882,6.0654444 a 0.26922435,0.26922435 0 0 0 -0.5384484,0 V 6.8731173 A 1.3461218,1.3461218 0 0 0 4.740018,8.2192392 H 3.9323449 a 0.26922444,0.26922444 0 0 0 0,0.5384488 H 4.740018 V 9.296137 H 3.9323449 a 0.26922451,0.26922451 0 0 0 0,0.538449 H 4.740018 v 0.538448 H 3.9323449 a 0.26922458,0.26922458 0 0 0 0,0.538449 H 4.740018 v 0.538448 H 3.9323449 a 0.2692244,0.2692244 0 0 0 0,0.538448 H 4.740018 a 1.3461218,1.3461218 0 0 0 1.3461218,1.346122 v 0.807674 a 0.26922435,0.26922435 0 0 0 0.5384484,0 v -0.807674 h 0.5384485 v 0.807674 a 0.26922479,0.26922479 0 0 0 0.5384494,0 v -0.807674 h 0.5384485 v 0.807674 a 0.26922435,0.26922435 0 0 0 0.5384485,0 v -0.807674 h 0.5384484 v 0.807674 a 0.26922435,0.26922435 0 0 0 0.5384485,0 v -0.807674 a 1.3461218,1.3461218 0 0 0 1.346124,-1.346122 h 0.807671 a 0.2692244,0.2692244 0 0 0 0,-0.538448 h -0.807671 v -0.538448 h 0.807671 a 0.26922458,0.26922458 0 0 0 0,-0.538449 H 11.201404 V 9.834586 h 0.807671 a 0.26922451,0.26922451 0 0 0 0,-0.538449 H 11.201404 V 8.757688 h 0.807671 a 0.26922444,0.26922444 0 0 0 0,-0.5384488 H 11.201404 A 1.3461218,1.3461218 0 0 0 9.85528,6.8731173 V 6.0654444 a 0.26922435,0.26922435 0 0 0 -0.5384485,0 V 6.8731173 H 8.7783831 V 6.0654444 a 0.26922435,0.26922435 0 0 0 -0.5384485,0 V 6.8731173 H 7.7014861 V 6.0654444 a 0.26922479,0.26922479 0 0 0 -0.5384494,0 V 6.8731173 H 6.6245882 Z M 7.1630367,8.4884635 H 8.7783831 A 0.80767307,0.80767307 0 0 1 9.5860564,9.296137 v 1.615346 A 0.80767307,0.80767307 0 0 1 8.7783831,11.719154 H 7.1630367 A 0.80767307,0.80767307 0 0 1 6.3553634,10.911483 V 9.296137 A 0.80767307,0.80767307 0 0 1 7.1630367,8.4884635 Z' id='path942' style='fill:%23ffffff;stroke-width:0.538448' /%3E%3C/svg%3E%0A")
  //background-image: url("/idh-fill.svg")
  background-repeat: 'no-repeat' !important
  background-position: 'center center' !important
  background-size: 'contain'
  font-size: '2.5rem'

@media (max-width: 544px)
  p
    font-size: 14px
  h1
    font-size: 1.5rem
  h2
    font-size: 1rem
  h3
    font-size: 0.5rem
  h4
    font-size: 0.2rem
  .headerTop
    font-size: 8px
  .headerNav a
    padding-left: 0px
    padding-right: 40px
    font-size: 0.8rem
  .navbar-brand>img
    width: 150px
    height: auto
    min-width: 150px

@media (min-width: 544px)
  p
    font-size: 14px
  h1
    font-size: 1.5rem
  h2
    font-size: 1rem
  h3
    font-size: 0.5rem
  h4
    font-size: 0.2rem
  .headerTop
    font-size: 8px
  .headerNav a
    padding-left: 20px
    padding-right: 20px
    font-size: 0.8rem

@media (min-width: 768px)
  p
    font-size: 14px
  h1
    font-size: 2rem
  h2
    font-size: 1.5rem
  h3
    font-size: 1rem
  h4
    font-size: 0.5rem
  .headerTop
    font-size: 10px
  .headerNav a
    padding-left: 20px
    padding-right: 20px
    font-size: 1.2em

@media (min-width: 992px)
  p
    font-size: 18px
  h1
    font-size: 2.5rem
  h2
    font-size: 2rem
  h3
    font-size: 1.5rem
  h4
    font-size: 1rem
  .headerTop
    font-size: 12px
  .headerNav a
    padding-left: 20px
    padding-right: 20px
    font-size: 1.5em

@media (min-width: 1200px)
  p
    font-size: 18px
  h1
    font-size: 3rem
  h2
    font-size: 2.5rem
  h3
    font-size: 2rem
  h4
    font-size: 1.5rem
  .headerTop
    font-size: 16px
  .headerNav a
    padding-left: 20px
    padding-right: 20px
    font-size: 1.8em

// $phone-size: 600px
// $tablet-size: 992px
// $desktop-size: 1200px
.navbar-nav >.active
  color: green
